<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.dhaka_university_calendar.dhakauniversitycalendarandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".account.FirebaseAuthentication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".ServerLoad"></activity>
        <activity
            android:name=".DevelopresActivity"
            android:label="Developers"
            android:parentActivityName=".CreditsMenu" />
        <activity
            android:name=".CreditsMenu"
            android:label="Credits"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".FacilitiesMenu"
            android:label="Facilities"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".information.DuMedicalCenterViewActivity"
            android:label="Medical Center"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".more.ProctorialRulesActivity"
            android:label="Protorial Rules"
            android:parentActivityName=".more.MoreMenuActivity" />
        <activity
            android:name=".more.AffiliatedInstitutesActivity"
            android:label="Affiliated Institutes"
            android:parentActivityName=".more.MoreMenuActivity" />
        <activity
            android:name=".more.DucsuActivity"
            android:label="Ducsu"
            android:parentActivityName=".more.MoreMenuActivity" />
        <activity
            android:name=".award.DeansAwardActivity"
            android:label="Deans Award"
            android:parentActivityName=".award.AwardMenuActivity" />
        <activity
            android:name=".award.DeansAwardWinnersActivity"
            android:label="Deans Award Winners"
            android:parentActivityName=".award.AwardMenuActivity" />
        <activity
            android:name=".award.AcheivementsActivity"
            android:label="Acheivements List "
            android:parentActivityName=".award.AwardMenuActivity" />
        <activity
            android:name=".award.AcheivementsViewActivity"
            android:label="Acheivements"
            android:parentActivityName=".award.AcheivementsActivity" />
        <activity
            android:name=".award.ScholarshipsActivity"
            android:label="Scholarships"
            android:parentActivityName=".award.AwardMenuActivity" />
        <activity
            android:name=".information.DULibraryViewActivity"
            android:label="Library"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".map.ExcitingPlacesViewActivity"
            android:label="Exciting Places"
            android:parentActivityName=".map.ExcitingPlacesActivity" />
        <activity
            android:name=".more.MoreMenuActivity"
            android:label="More"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".award.AwardMenuActivity"
            android:label="Award"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".faculty.FacultyInfoActivity"
            android:label="Faculty List"
            android:parentActivityName=".faculty.FacultyMenu" />
        <activity
            android:name=".information.DuHistoryViewActivity"
            android:label="History"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".faculty.FacultyViewActivity"
            android:label="Faculty"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".information.DuHistoryInfoActivity"
            android:label="History" />
        <activity
            android:name=".calendar.CalendarSportsClass"
            android:label="Sports Calendar"
            android:parentActivityName=".calendar.CalendarType" />
        <activity
            android:name=".calendar.CalendarEventListActivity"
            android:label="Event List"
            android:parentActivityName=".calendar.CalendarClass" />
        <activity
            android:name=".calendar.CalendarSportsEventListActivity"
            android:label="Sport event List"
            android:parentActivityName=".calendar.CalendarClass" />
        <activity
            android:name=".calendar.CalendarSpecificEventListActivity"
            android:label="Event List"
            android:parentActivityName=".calendar.CalendarClass" />
        <activity
            android:name=".calendar.CalendarCounselingClass"
            android:label="Club Calendar"
            android:parentActivityName=".calendar.CalendarType" />
        <activity
            android:name=".faculty.FacultyFineArtsInfoActivity"
            android:label="Faculty Of Fine Arts"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyBiologicalScienceInfoActivity"
            android:label="Faculty Of Biological Sciences"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyEarthInfoActivity"
            android:label="Faculty Of Earth"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyEngineeringInfoActivity"
            android:label="Faculty Of Engineering"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyPharmacyInfoActivity"
            android:label="Faculty Of Pharmacy"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultySocialScienceInfoActivity"
            android:label="Faculty Of Social Sciences"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyLawInfoActivity"
            android:label="Faculty Of Law"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".account.Profile_Activity"
            android:label="Profile"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".Home2Activity"
            android:label="Home" />
        <activity
            android:name=".map.MapMenu"
            android:label="Map"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".faculty.FacultyMenu"
            android:label="Faculty/Institutes"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".map.ExcitingPlacesActivity"
            android:label="Exciting Places List"
            android:parentActivityName=".map.MapMenu" />
        <activity
            android:name=".information.GradingSystemActivity"
            android:label="Grading System"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".information.HeadOfDUInfoActivity"
            android:label="Top Administration"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".information.InstituesInfoActivity"
            android:label="Institutes List"
            android:parentActivityName=".faculty.FacultyMenu" />
        <activity
            android:name=".information.InstitutesViewActivity"
            android:label="Institutes"
            android:parentActivityName=".information.InstituesInfoActivity" />
        <activity
            android:name=".transport.TransportChytali"
            android:label="Chytali"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportTorongo"
            android:label="Torongo"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportSrabon"
            android:label="Srabon"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportBoshonto"
            android:label="Boshonto"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportAnando"
            android:label="Anando"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportUllash"
            android:label="Ullash"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportHemonto"
            android:label="Hemonto"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportBaishakhi"
            android:label="Baishakhi"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportKhonika"
            android:label="Khonika"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportFalguni"
            android:label="Falguni"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportIshakha"
            android:label="Ishakha"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportKinchit"
            android:label="kinchit"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportMoitree"
            android:label="Moitree"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".transport.TransportChittagongRoad"
            android:label="Chittagong Road"
            android:parentActivityName=".transport.TransportMenu" />
        <activity
            android:name=".committee.DeanActivity"
            android:label="Dean of Faculties"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.CommitteeMenu"
            android:label="Authority"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".committee.EditorialCommitteActivity"
            android:label="Editorial Committee"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.BoardOfProctorActivity"
            android:label="Board Of Proctor"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.DirectorOfInstitutesActivity"
            android:label="Director Of Institutes"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.ChairmanOfDepartmentsActivity"
            android:label="Chairman Of Departments"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.ProvostOfHallsActivity"
            android:label="Provost Of Halls"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.HeadOfOfficesActivity"
            android:label="Head Of Offices"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".committee.DirectorOfBureausActivity"
            android:label="Director Of Bureaus"
            android:parentActivityName=".committee.CommitteeMenu" />
        <activity
            android:name=".faculty.FacultyActivity"
            android:label="Faculty" />
        <activity
            android:name=".transport.TransportMenu"
            android:label="Transport"
            android:parentActivityName=".FacilitiesMenu" />
        <activity android:name=".map.MapActivityInfrastructure" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3veEqv2KbB90jkky3WXo4-Z87JRt9yic" />

        <activity
            android:name=".calendar.CalendarType"
            android:label="Calendar"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".information.InformationMenu"
            android:label="DU Information"
            android:parentActivityName=".Home2Activity" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".information.DepartmentViewActivity"
            android:label="Department"
            android:parentActivityName=".faculty.FacultyScienceInfoActivity" />
        <activity android:name=".retreiveInfoActivity" />
        <activity android:name=".InfoOptions" />
        <activity android:name=".InfoActivity" />
        <activity
            android:name=".account.AccountActivity"
            android:label="Edit Account"
            android:parentActivityName=".account.Profile_Activity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".calendar.CalendarClass"
            android:label="General Calendar"
            android:parentActivityName=".calendar.CalendarType" />
        <activity
            android:name=".calendar.CalendarListViewEvent"
            android:label="Event"
            android:parentActivityName=".calendar.CalendarClass" />
        <activity
            android:name=".faculty.FacultyScienceInfoActivity"
            android:label="Faculty Of Sciences"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyCommerceInfoActivity"
            android:label="Faculty Of Commerce"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".faculty.FacultyArtsInfoActivity"
            android:label="Faculty Of Arts"
            android:parentActivityName=".faculty.FacultyInfoActivity" />
        <activity
            android:name=".information.HallInfoActivity"
            android:label="Hall List"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".information.HallViewActivity"
            android:label="Hall"
            android:parentActivityName=".information.HallInfoActivity" />
        <activity
            android:name=".map.Map_Activity"
            android:label="Map"
            android:parentActivityName=".map.MapMenu" />
        <activity
            android:name=".information.ClubInfoActivity"
            android:label="Club List"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".information.ClubViewActivity"
            android:label="Club"
            android:parentActivityName=".information.ClubInfoActivity" />
        <activity
            android:name=".information.OfficeInfoActivity"
            android:label="Office List"
            android:parentActivityName=".information.InformationMenu" />
        <activity
            android:name=".information.OfficeViewActivity"
            android:label="Office"
            android:parentActivityName=".information.OfficeInfoActivity" />
        <activity
            android:name=".calendar.CalendarSpecificClass"
            android:label="Specific Calendar"
            android:parentActivityName=".calendar.CalendarType" />
        <activity
            android:name=".committee.ImplementationCommitteActivity"
            android:label="Implementation Committee"
            android:parentActivityName=".committee.CommitteeMenu" />
    </application>

</manifest>